@using GerenciadorDeTarefas.Domain.Tarefas
@using GerenciadorDeTarefas.Domain.ViewModels
@model TarefaFilter

@{
    List<Tarefa> tarefas = ViewBag.Tarefas;
}


<div class="d-flex justify-content-between flex-sm-row gap-2 flex-column">
    <div>

        <h3>Listagem de tarefas</h3>
    </div>

    <div class="text-end">
        <a href="@Url.Action("Create")" class="btn btn-primary"> Adicionar</a>
    </div>
</div>


<form action="" method="get" class="row g-3">
    <div class="col-lg-5">
        <label asp-for="Search" class="fw-semibold">Buscar</label>
        <input asp-for="Search" class="form-control" placeholder="Busque por título, descrição ou status" />
    </div>

    <div class="col-lg-4">
        <label asp-for="Predicate" name="Predicate" class="fw-semibold">Selecione a ordenação</label>
        <select asp-for="Predicate" class="form-select" name="Predicate">
            <option value="Titulo">Titulo</option>
            <option value="Descricao">Descrição</option>
            <option value="Status">Status</option>
            <option value="DataDeCriacao">Data de criação</option>
        </select>
    </div>

    <div class="col-lg-3 align-content-end">
        <div class="form-check">
            <label asp-for="Decrescente" class="fw-semibold">Ordem decrescente</label>
            <input class="form-check-input" type="checkbox" asp-for="Decrescente" />
        </div>
    </div>


    <div class="col-12 text-end">
        <button type="submit" class="btn btn-primary">
            Filtrar
        </button>
    </div>
</form>

@if (!tarefas.Any())
{
    <div class="alert alert-info mt-3">
        Nenhuma tarefa encontrada
    </div>
}
else
{
    <div class="table-responsive-lg mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Status</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tarefa in tarefas)
                {
                    <tr>
                        <th>@tarefa.Titulo</th>
                        <th>@tarefa.Descricao</th>
                        <th><span class="badge bg-secondary">@tarefa.Status</span></th>
                        <th class="text-end">
                            <div class="dropdown">
                                <button class="btn border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="icon-ellipsis-horizontal"></div>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="@Url.Action("Create", new { Id = tarefa.Id })">Editar</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li>
                                        <form action="/api/Tarefas/Remover/@tarefa.Id" method="post">
                                            <button type="submit"
                                                    class="btn dropdown-item text-danger"
                                                    onclick="return confirm('A tarefa será movida para a lixeira. Continuar?')">
                                                Excluir
                                            </button>
                                        </form>

                                    </li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
